fieldset {
  &#invoiceAddress {
    margin-top: 2rem;
  }
}

#form-registration {
  #registration-registration-register {
    #register-differentInvoiceAddress-span span{
      font-weight: bold;
      padding-left: 1rem;
    }
  }
  #registration-registration-registerAddressFieldset {
    display: none;
  }
}

#form-jobsbymail-subscribe-form {
  button.btn-info {
    background-color: @btn-danger-bg;
    border-color: @btn-danger-border;
    color: @btn-danger-color;
  }
  button.btn-info :hover {
    background-color: darken(@btn-danger-bg,10%);
  }
}
