#bSummary, .applyLink, .grayBox, #pubContentBottom, .print-link-no-js, #job_content .btn {
  display:none;
}
#bTitle {
    font-size:30px;
    margin:20px 0;
}

.sd-test-elem {
  display: none;
  font-size: 1em;
}

.job-short-info ul li {
  font-size:18px!important;
}

#job_content  {
    font-size:16px;
    line-height:24px;
    
    div a {
        
        color:#1e69a3;
       text-decoration:underline;
    }
    
    p {
      margin-bottom:25px;
      text-align:left!important;
    }
    
    ul {
        margin-left:15px;
        margin-bottom:25px;
    }

    li {
        margin-bottom:5px;
    }
    
    h1 {
        font-size: 24px;
        line-height: 36px;
        font-weight: 600;
        color: #000;
    }
    h3 {
        font-size:16px;
        color:#000;
    }
    
    h2 {
      font-size: 24px;
      line-height: 36px;
      color: #000;
      font-weight: 600;
    }
    strong,
    address  {
        font-size:16px;
        line-height:24px;
    }
  
    .job-detail-city {
        display:none;
    }
}



.job-navigation {
  margin-bottom: 1rem;
  display:table;
  width:100%;
  
  a {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 7px 25px;
    width: auto;
    border-radius: 4px;
    -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
    border-color: #adadad;

    &.no-margin {
      margin: 0;
    }

    i {
      font-size: 1rem;
      left: 1rem;
      margin: 0;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);

      &.right-align {
        left: unset;
        right: 1rem;
      }
    }
  }

  span {
    display: flex;
    flex-direction: row;

    &.reverse {
      flex-direction: row-reverse;
    }

    a {
      width: 135px;

      &:first-child {
        margin-right: .5rem;
      }
      
      span {
          display:block
      }
    }
  }
}

.panel__job-detail {
    
  .expired-info {
      margin-top:25px;
      font-size:18px;
  }
    
  .banner {
    height: 300px;
    background-size: cover;
    background-position:center;
  }
  
  h4 {
      
    font-size: 24px;
    line-height: 36px;
    color:#000;
    font-weight:600;
    margin-bottom:30px;
  }
  
  p,
  li {
      
    font-size: 16px;
    line-height: 24px;
      
  }
  .panel-body {
    padding:0 10rem 5rem 10rem;

    .button-job-apply {
      margin-bottom: 10px;

      a,
      span {
        border-radius: 4px;
       -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
        padding: 6px 25px;
      }

      a {
        background-color: @g24-red;
        border-color: @g24-red;
      }

      span {
        background-color: #ccc;
        border-color: #ccc;
      }
    }
  }

  .teaser__job-detail {
    align-items: baseline;
    display: block;
    position:relative;
    margin-top: -5.5rem;
    margin-bottom: 2rem;

    &.no-banner {
      margin-top: 3rem;
    }

    .wrapper__logo {
      background-color: #fff;
      border: none;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      display: block;
      height: 150px;
      line-height: 1.5;
      overflow: hidden;
      padding: 2px;
      position: relative;
      transition: border .2s ease-in-out;
      width: 150px;
      box-shadow: 0 0 5px #666;
      -moz-box-shadow:   0 0 5px #666;
      -webkit-box-shadow: 0 0 5px #666;

      img {
        bottom: 0;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: auto;
        max-width:80%;
      }
    }

    h1 {
      font-size: 30px;
      font-weight: 300;
      line-height:38px;
      margin-left: 170px;
      position: absolute;
      top: 55px;
      width:80%;
    }
  }

  h1 {
    &.no-banner {
      margin-top: 35px;
      font-size:30px;
      margin-bottom:35px;
    }
  }

  .job-short-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    &.no-banner {
      align-items: flex-start;
      margin-top: 20px;

      .wrapper__right {
        text-align: center;
      }
      .wrapper__logo {
        margin-bottom: 10px;
        height: 150px;
        width: 150px;   
        border: 1px solid #ddd!important;
        box-shadow: none!important;
       -webkit-border-radius: 0px!important;
    	-moz-border-radius: 0px!important;
        border-radius: 0px!important;
     }
    }

    ul {
        padding-left:10px;
        margin:0;
        
      li {
        font-size: 18px!important;
        margin-bottom:3px;
        line-height: 3rem;
        list-style: none;
           &:before {
           color: #B9B9B9;
          }
      }
      
      
      li.location {
        &:before {
          font-family: "FontAwesome";
          font-size: 1.8rem;
          content: "\f041";
          padding-right: 5px;
        }
      }

      li.company {
        a {
          color: @g24-blue;
        }

        &:before {
          font-family: "FontAwesome";
          content: "\f0f7";
          padding-right: 5px;
        }
      }

      li.type {
        &:before {
          font-family: "FontAwesome";
          content: "\f017";
          padding-right: 5px;
        }
      }

      li.date {
        &:before {
          font-family: "FontAwesome";
          content: "\f073";
          padding-right: 5px;
        }
      }

      li.industries {
        &:before {
          font-family: "FontAwesome";
          content: "\f02c";
          padding-right: 5px;
        }
      }
    }

    .wrapper__logo {
      background-color: #fff;
      border: none;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      display: block;
      height: 150px;
      line-height: 1.5;
      overflow: hidden;
      padding: 2px;
      position: relative;
      transition: border .2s ease-in-out;
      width: 150px;
      box-shadow: 0 0 5px #666;
      -moz-box-shadow:   0 0 5px #666;
      -webkit-box-shadow: 0 0 5px #666;

      img {
        bottom: 0;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: auto;
        max-width:80%;
      }
    }
  }

  .grey-description-container {
    margin-top: 2rem;

    &.similar-jobs {
      .row {
        margin-bottom: 0;
      }

      .job-box {
        background: white;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        /*min-height: 16rem;*/
         padding: 10px 15px 15px 10px;
         margin-bottom: 15px;
         box-shadow: 0 0 5px 0 #ccc;
         -webkit-box-shadow:  0 0 5px 0 #ccc;
         -moz-box-shadow:  0 0 5px 0 #ccc;

        a {
          
           color: #1e69a3;
           font-size: 17px;
           text-decoration: none;
           font-weight: 300;
           white-space: nowrap;
           text-overflow: ellipsis;
           overflow: hidden;
           display: block;
        }
        
        a:hover {
            text-decoration: underline;
            
        }

        .job-short-info {
          margin-top: 7px;

          ul {
            padding-left: 0;

            li {
              font-size: 13px !important;
              line-height:20px!important;
            }
            
              li.type {
             &:before {
            
                font-size: 13px;
                opacity: .3;
                padding-right:2px;
              }
             }
             li.location {
             &:before {
                font-size: 13px;
                opacity: .3;
              }
             }
          }
        }
      }
    }
  }
}

/** similar jobs landingpage **/
.similiar-jobs-landingpages {
  float:left;
  line-height:22px;
  padding-left: 0;
  list-style-type: none;

  h2 {
    margin-bottom:15px;
  }

  ol {
    list-style-type:square;

    li {
      margin-bottom:5px;

      a {
        margin: 0 5px 5px 0;
        background-color: #dcdfe2;
        color: #566578;
        padding: 3px 12px;
        line-height: 24px;
        display: block;
        font-size: 14px;
        text-decoration: none;
      }
    }
  }

  ul {
    padding-left: 0;

    li {
      display: inline-block;
      margin: 0;

      a {
        margin: 0 5px 5px 0;
        background-color: #dcdfe2;
        color: #566578;
        padding: 3px 12px;
        line-height: 24px;
        display: block;
        font-size: 14px;
        text-decoration: none;
      }
    }
  }
}
/** end similar jobs in landingpage **/
@media(max-width: @screen-sm) {
    
    #job_content h2,  #job_content h1,  #job_content h3, #job_content h4, #bTitle  {
    font-size: 16px!important;
    line-height: 24px!important;
    margin-bottom:25px!important;

   }
    
   #job_content p + br,  #job_content ul + br {
    display: none;
   }
    
   
    #job_content, .panel__job-detail p, .panel__job-detail li,#job_content strong, #job_content address {
    font-size: 14px;
    line-height: 21px;
   }
   
    #job_content ul {
        margin-left:0px!important;
        margin-bottom:10px!important;
        margin-top:10px;
    }
#job_content p {
        margin-bottom:10px!important;
    }
    
   .apply-button-group.first {
        
    position: fixed;
    z-index:100;
    padding:0 15px;
    bottom: 0;
    background-color: #fff;
    left: 0;
    width:100%;
    right: 0;
    box-shadow: 0 1px 3px #999, 0 12px 29px #999;
    }

    .embed-container {
        margin-left:-25px;
        margin-right:-25px;
    }
    
   .panel__job-detail h1.no-banner {
    font-size: 24px;
    margin-bottom: 10px;
  }
    
  .panel__job-detail .job-short-info ul li {
    font-size: 16px!important;
    margin-bottom: 0px;
    line-height: 2.8rem;
    list-style: none;
  }
  main ul.column {
    -webkit-column-count: 1!important;
    -moz-column-count: 1!important;
    column-count: 1!important;
  }

  .panel__job-detail {
    .job-short-info {

      &.no-banner {
        align-items: flex-start;

        .wrapper__logo {
          height: 100%;
          width: 100px;
        }
      }

      ul {
        padding-left: 0;
      }
    }
  }

  .panel__job-detail .teaser__job-detail h1 {
    font-size: 24px;
    width:100%;
    line-height: 30px;
    margin-left:0;
    position:relative;
    top: 0;
  }

  .panel__job-detail .teaser__job-detail .wrapper__logo {
    height: 100px;
    width: 100px;
    left:50%;
    margin-left:-50px;
    
  }
  .panel__job-detail {
    .banner {
      height: 100%;
      padding-bottom:25%;
      min-height:125px;
      background-size: cover;
      background-position:center center;
    }

    .panel-body {
      padding:0 2.5rem 2.5rem 2.5rem;

    }
  }
  
 .job-navigation {
    div {
      padding:0!important
    }
     
    a {
      float:left;
      line-height:15px;
      max-width: 75%;
      min-width:195px;
      height:30px;
      margin:0;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    span {
      flex-direction:  none;
      float:right;

      a {
        height: 30px;
        margin: 0;
        min-width: 30px;
        padding: 7px 0;
        width: 30px;

        &:first-child {
          margin-bottom: 0;
          margin-right: 5px;
        }
      }
    }
  }

  .grey-description-container {
    &.similar-jobs {
      .row {
        margin-bottom: 0;
      }

      .job-box {
        margin-bottom: 1rem;
      }
    }
  }
}
@media(max-width: @screen-xs) {
    
  .apply-button-group.first {

    padding:0;

    }
    
  .panel__job-detail {
    .job-short-info {
      &.no-banner {
        align-items: center;

        .wrapper__logo {
          height: 80px;
          width: 80px;
        }
      }
    }

    .teaser__job-detail .wrapper__logo {
      height: 80px;
      width: 80px;
      margin-top: 15px;
      box-shadow: none;
      -webkit-box-shadow: 0 0 2px #666;
    }
  }
}
/* END JOB DETAIL PAGE */

/* EDIT JOB WIZARD */
#description-descriptionForm-details {
  #details-logo-desc,
  #details-description-desc {
    padding: 5px 15px;
    margin-top: 1rem;
  }
}
/* END EDIT JOB WIZARD */

/* CREATE SINGLE JOB */
#single-job-form {
  .tinymce_modern {
    min-height: 20rem!important;
  }
}
/* END CREATE SINGLE JOB */