//@import "../../../modules/Core/less/yawik.less";
@import "../../../modules/Core/less/yawik-core.less";
@import "_variables";
@import "_main.less";
@import "_header.less";
@import "_footer.less";
@import "_search-form-container.less";
@import "_saved-jobs.less";

/* autocomplete */

  .ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;   
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-top:1px solid #ccc;
 
    
  
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    cursor:pointer;
    background-image: none;
}






@media (min-width: 1200px) {

        .container {
            width: 1200px;
        }

}


#full-stars {


  .rating-group {
    display: inline-flex;
    padding-left:10px;
  }
  
 


  .rating__input {
   position: absolute !important;
   left: -9999px !important;
  }

  .rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 2rem;
  }
  
  .rating__icon--star {
    color: orange;
  }
  
  .rating__icon--none {
    color: #eee;
  }

  /* if none icon is checked, make it red */
  .rating__input--none:checked + .rating__label .rating__icon--none {
    color: red;
  }

  /* if any input is checked, make its following siblings grey */
  .rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
  }

   } 

 .form-inline.search-form .btn-primary {
            background-color: #1a6ba7!important;
            border-color: #175d91!important;

        }


.dropdown-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.block-ellipsis {
    display: block;
    max-width: 100%;
    max-height: 26px;
    font-size: 17px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.search-form-container {
    padding: 0;
}

.full-background {
    background-image: url(../hero_md_8.webp);
    background-size:cover;
    background-repeat:no-repeat;
}
.no-js .full-background {
    background-image: url(../hero_md_7.jpg);
    background-size:cover;
    background-repeat:no-repeat;
}


.tagline-container h1 {
    font-size: 68px;
    line-height: 85px;
    color: #fff;
    max-width: 80%;
    margin-top: 20px;
    font-weight: 600;
}

.container-search {
    padding: 50px 0 40px 0;
    float: left;
    width: 100%;

    form.search-form {
        .input-group[class*="col-"] {
            float: left;
            padding-right: 15px;
            padding-left: 15px;
        }

        .input-group[class*="col-"]:nth-child(2) {
            padding-right: 0;
            border-right: none;
        }

        .input-group[class*="col-"]:nth-child(3) {
            padding-left: 0;
        }

        .input-group[class*="col-"] select,
        .input-group[class*="col-"] input,
        .input-group[class*="col-"] .select2-container--bootstrap .select2-selection--single {
            height: 60px !important;
            -webkit-border-radius: 0px !important;
            -moz-border-radius: 0px !important;
            border-radius: 0px !important;
            font-size: 22px !important;
            padding: 6px 12px !important;
            line-height: 46px !important;
            border: 1px solid #ccc;
            width: 100%;
        }

        .btn-group,
        .btn-primary {
            width: 100%;
            height: 60px;
            font-size: 22px;
            font-weight: 300;
        }

        .btn-group {
            button:nth-child(2) {
                display: none;
            }
        }
    }
}

#recommended-jobs {
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, .3);
    border: 1px solid #242424;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;

    h2 {
        color: #fff;
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 24px;
    }

    .recommended-box {
        background-color: #fff;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        margin: 0 15px;

        .recommended-box-inner {
            padding: 15px;
            position: relative;

            .recommended-box-jobtitle {
                margin-bottom: 5px;

                a {
                    color: #1e69a3;
                }
            }

            .recommended-box-company-logo-container {
                position: absolute;
                width: 70px;
                height: 70px;
                border-radius: 4px;
                border: 3px solid #fff;
                box-shadow: 0 0 5px #666;
                top: 65px;
                background-color: #fff;
                z-index: 1;
                right: 15px;

                img {
                    width: 100%;
                    position: absolute;
                    top: 50%;
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
            }

            .recommended-hero {
                background-color: #fff;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                height: 75px;
                overflow: hidden;
                position: relative;
            }
        }

        .recommended-box-actions {
            padding-bottom: 15px;

            button {
                display: flex;
                align-items: center;
                padding: 5px 7px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                margin: 0;
                float: right;

                &:before {
                    font-family: "FontAwesome";
                    font-size: 2rem;
                    font-weight: normal;
                    content: "\f006";
                    color: #B9B9B9;
                    padding-right: 5px;
                }
            }

            .view-btn {
                align-items: center;
                padding: 9px 13px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                margin: 0;
                border: 1px solid #ccc;
                line-height: 1.42857143;

                &:hover {
                    background-color: #f2f2f2;
                }
            }

            .btn-default:hover {
                background-color: #f2f2f2;
            }
        }
    }
}

.short-details {
    padding: 0;
    margin-bottom: 30px;

    li {
        list-style: none;
        padding: 0;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        align-items: center;

        &:before {
            color: #B9B9B9;
        }

        &.location:before {
            font-family: "FontAwesome";
            font-size: 1.8rem;
            content: "\f041";
            padding-right: 5px;
        }

        &.company:before {
            font-family: "FontAwesome";
            content: "\f0f7";
            font-size: 1.8rem;
            padding-right: 5px;
        }
    }
}

#inspireBanner {
    background-color: #F6F6F9;

    .inspireContent {
        padding: 18px 0;

        ul.usp {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                margin: 8px 0;
                color: #0b2235;
                font-size: 16px;
                line-height: 24px;
                font-weight: bold;
                position: relative;

                span.thick {
                    display: inline-block;
                    height: 24px;
                    width: 24px;
                    margin-right: 10px;
                    position: relative;
                    top: 5px;
                }
            }
        }

        .shout-out {
            background-color: white;
            padding: 24px 30px;
            border: 1px solid #1e69a3;
            position: relative;
            margin-right: 60px;

            h2 {
                  margin-bottom: 10px;
                margin-top: 0;
                font-weight: bold;
                color: #0b2235;
                 font-size: 18px;
                 line-height: 24px;

                span {
                    display: block;
                    color: #566578;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 300;
                }
            }

            a {
                background-color: #d9534f;
                border-color: #d9534f;
                color: #fff;
                width:100%;
            }

            &:before,
            &:after {
                left: 100%;
                top: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }

            &:after {
                border-color: rgba(255, 255, 255, 0);
                border-left-color: #fff;
                border-width: 19px;
                margin-top: -19px;
            }

            &:before {
                border-color: rgba(64, 136, 238, 0);
                border-left-color: #1e69a3;
                border-width: 20px;
                margin-top: -20px;
            }
        }
    }
}

#home-tabs {
    background-color: #fff;
    padding-bottom: 15px;

    input,
    section {
        clear: both;
        padding-top: 10px;
        display: none;
    }

    .tab_container {
        margin: 0 auto;
        padding-top: 15px;
        position: relative;

        label {
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            display: block;
            float: left;
            /*width: 20%;*/
            padding: 0 15px 0 0;
            color: #0b2235;
            cursor: pointer;
            text-decoration: none;
            text-align: left;
            background: #fff;
            margin-right: 24px;
        }

        #tab1:checked~#content1,
        #tab2:checked~#content2,
        #tab3:checked~#content3,
        #tab4:checked~#content4,
        #tab5:checked~#content5 {
            display: block;
            padding: 15px 0 0 0;
            background: #fff;
        }

        .tab-content {
            ul,
            p,
            h3,
            div {
                -webkit-animation: fadeInScale 0.7s ease-in-out;
                -moz-animation: fadeInScale 0.7s ease-in-out;
                animation: fadeInScale 0.7s ease-in-out;
            }

            h3 {
                text-align: center;
            }
        }

        [id^="tab"]:checked+label {
            background: #fff;
            border-bottom: 2px solid #0b2235;
        }

        [id^="tab"]:checked+label .fa {
            color: #0CE;
        }

        ul {
            &.column {
                padding-left: 0;
                list-style-type: none;
                margin-bottom: 10px;

                >li>a {
                    padding: 0 0 6px 0;
                    font-size: 14px;
                    color: #1e69a3;
                    display: block;
                }
            }

            &.collapse {
                display: block;

                &.in {
                    display: block
                }
            }
        }
    }
}

.tab-readmore {
    p,
    a {
        color: #1e69a3;
    }

    button:hover,
    button:focus {
        text-decoration: none;
    }

    .tab-readmore__bottom {
        width: 100%;
        height: 42px;
        line-height: 24px;
        margin-bottom: 6px;
        margin-top: -6px;
    }
}

#companies {
    background-color: #F6F6F9;

    .content-companies {
        padding: 20px 0 40px 0;
    }

    .partner-carousel {
        margin-bottom: 40px;
        float: left;

        .item {
            line-height: 120px;
            height: 120px;
            text-align: center;
            padding: 0 .375rem;
            margin: .375rem 0;

            a {
                background-color: #fff;
                display: block;
                width: 100%;
                height: 100%;

                img {
                    display: inline-block;
                    vertical-align: middle;
                    max-height: 100%;
                    max-width: 100%;
                    width: auto;
                    padding: 10px;
                }
            }
        }
    }
}

.full-width-titles {
    margin-bottom: 40px;
    padding-left: 24px;
    padding-right: 24px;

    h2 {
        margin-bottom: 10px;
        text-align: center;
        color: #0b2235;
        font-size: 21px;
        line-height: 30px;
    }
}

#home-teaser-text {
    background-color: #fff;

    .content-teaser {
        padding: 40px 0;

        a {
            color: #1e69a3;
            text-decoration: underline;
        }

        h2 {
            margin-top: 0;
            margin-bottom: 20px;
            color: #0b2235;
            font-size: 21px;
            line-height: 1.2
        }
    }
}





@media (max-width: 768px) {
    
  .full-background {
 
    background-position: center right;

}
    
.search-form-container .btn-group {
          width: 100%;
      }

      #jobs-list-filter-wrapper .search-form-container .btn-primary {
          width: 100%;
          margin-left: 0;
      }
    label .fa {
        font-size: 16px;
    }

    #home-tabs {
        .tab_container {
            width: 100%;
        }
    }
    

    
    .navbar {
        &-nav2 {
            left: 0;
            margin: 0;
            position: absolute;
        }

        &-collapse {
            padding-right: 0;
            padding-left: 0;
            float: left;
            border-top: none;
            box-shadow: none;
        }
    }

    #home-tabs {
        .tab_container ul.collapse {
            display: none;
        }
    }

    .tagline-container h1 {
        max-width: 100%;
        margin-top: 20px;
        font-size: 48px;
        line-height: 52px;
    }

    #inspireBanner {
        .inspireContent {

            .shout-out {
                margin-right: 0;
                margin-bottom: 30px;

                &:after,
                &:before {
                    left: 47%;
                    top: 100%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                }

                &:after {
                    border-color: rgba(255, 255, 255, 0);
                    border-top-color: #fff;
                    border-width: 19px;
                    margin-top: -1px;
                }

                &:before {
                    border-color: rgba(64, 136, 238, 0);
                    border-top-color: #1e69a3;
                    border-width: 20px;
                    margin-top: 0px;
                    margin-left: -1px
                }
            }

            ul.usp li {
                margin: 10px 0;
            }
        }
    }

    .short-details {
        margin-bottom: 15px;
    }

    .icon-bar {
        background-color: #fff;
        display: block;
        margin-bottom: 3px;
        width: 22px;
        height: 2px;
        margin-left: 12px;
        border-radius: 1px;
        -webkit-transition-duration: .35s;
        -moz-transition-duration: .35s;
        -o-transition-duration: .35s;
        transition-duration: .35s;
    }

    .middle-bar {
        opacity: 1
    }

    .container-search {
        padding: 30px 15px 20px 15px;

        form.search-form {
            > .row {
                padding: 0!important;
            }

            .input-group[class*="col-"] {
                margin-bottom: 15px;
            }

            .input-group[class*="col-"]:nth-child(3) {
                float: left;
                width: 33.33333333%
            }

            .input-group[class*="col-"]:nth-child(2) {
                float: left;
                width: 66.66666667%;
                border-right: 1px solid #ccc;
            }

            .input-group[class*="col-"] select,
            .input-group[class*="col-"] input,
            .input-group[class*="col-"] .select2-container--bootstrap .select2-selection--single {
                height: 37px !important;
                font-size: 14px !important;
                padding: 6px 12px !important;
                line-height: 24px !important;
                border: none;
                width: 100%;
                color: #555;
            }

            .btn-group,
            .btn-primary {
                width: 100%;
                height: 37px;
                font-size: 14px;
                font-weight: 300;
                color: #fff;
            }
        }
    }

    .search-form-container {
        height: 52px;
    }

    .favorite-icon {
        position: relative;
        width: 46px;
        text-align: right;
        left: -46px;
    }



    .link__saved-jobs.empty:hover:before {
        color: #fff;
    }
}

/* Mobile */
@media (max-width: 468px) {
    

    
     .home #jobs-list-filter-wrapper {
        .search-form-container {
            width: 100%;
        }
    }
    
    


#inspireBanner .inspireContent ul.usp li:not(:first-child)  {
    min-height:50px;
  
}


    #inspireBanner {
        .inspireContent {
            .shout-out {
                margin-bottom: 20px;
                margin-right: 0;
                padding: 12px 24px;
                
        

                h2 {
                    margin-bottom: 20px;
                    font-size: 16px;
                    line-height: 24px;
                }

                a {
                    display: block;
                    width:100%;
                }
            }

            ul.usp li span {
                position: absolute;
                top: 5px;
            }
        }
    }

    #home-tabs {
        .tab_container label {
            margin-right: 15px;
        }
    }

    #recommended-jobs {
        h2 {
            color: #fff;
            font-size: 16px;
            margin-bottom: 15px;
        }

        .recommended-box {
            .recommended-box-inner {
                padding: 12px;

            }

            .recommended-box-actions {
                padding-bottom: 12px;
            }
        }
    }

    .tagline-container h1 {
        text-align: left;
        text-decoration: none;
        color: #FFF;
        font-size: 26px;
        line-height: 28px;
        margin-bottom: 9px;
        margin-top: 13px;
        font-weight: 700;
        max-width: 80%;
    }

    .container-search {
        padding: 20px 15px 5px 15px!important;

        form.search-form {
            > .row {
                padding: 0!important;
            }
        }

        form.search-form .input-group[class*="col-"] {
            padding-right: 12px;
            padding-left: 12px;
        }
    }

    .row {
        margin-right: -12px;
        margin-left: -12px;
    }

    .col-xs-1,
    .col-sm-1,
    .col-md-1,
    .col-lg-1,
    .col-xs-2,
    .col-sm-2,
    .col-md-2,
    .col-lg-2,
    .col-xs-3,
    .col-sm-3,
    .col-md-3,
    .col-lg-3,
    .col-xs-4,
    .col-sm-4,
    .col-md-4,
    .col-lg-4,
    .col-xs-5,
    .col-sm-5,
    .col-md-5,
    .col-lg-5,
    .col-xs-6,
    .col-sm-6,
    .col-md-6,
    .col-lg-6,
    .col-xs-7,
    .col-sm-7,
    .col-md-7,
    .col-lg-7,
    .col-xs-8,
    .col-sm-8,
    .col-md-8,
    .col-lg-8,
    .col-xs-9,
    .col-sm-9,
    .col-md-9,
    .col-lg-9,
    .col-xs-10,
    .col-sm-10,
    .col-md-10,
    .col-lg-10,
    .col-xs-11,
    .col-sm-11,
    .col-md-11,
    .col-lg-11,
    .col-xs-12,
    .col-sm-12,
    .col-md-12,
    .col-lg-12 {
        padding-right: 12px;
        padding-left: 12px;
    }

    .container {
        padding-right: 12px;
        padding-left: 12px;
    }

#recommended-jobs {
    margin-bottom: 0px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-left: -12px;
    margin-right: -12px;
}

}

@media all and (min-width: 768px) {
    
  .collapse-textbox, .collapse-textbox.in {
    display: block;
    height: auto !important;
  }
    .dropdown-backdrop {
        display: none;
    }

    #inspireBanner {
        .inspireContent .shout-out:after {
            margin-left: -1px;
        }
    }

    .dropdown-menu-mobile {
        display: none !important;
    }
}

.navbar-header {
    .menu-logo {
        width: 200px;
    }
}

input[type="file"] {
    display: block;
    height: auto;
}

.page-title {
    margin-top: 13px;
    margin-bottom: 10px;

    h1,
    span {
        display: inline;
        font-size: 30px;
        font-weight:300
    }
}

.input-group .form-control  {
        -webkit-border-radius: 3px!important;
        -moz-border-radius: 3px!important;
         border-radius: 3px!important;
         height: 38px!important;
         font-size: 14px!important;
}

.search-form-container {
    .btn-default {
        position: absolute;
        right: 100px;
        top: 10px;
    }
    .btn-primary {
        padding: 0 20px;
    }
    input {
        height: 55px;
        font-size: 16px;
        padding: 0 20px;
    }

    .form-control {
        -webkit-border-radius: 0!important;
        -moz-border-radius:  0!important;
        border-radius: 0!important;
        border: none!important;
    }

    select {
        height: 38px !important;
        background-color: #fff;
        border: none;
        border-left:1px solid #ccc;
        border-radius: 0;
        line-height: 27px;
        padding: 6px 24px 6px 20px;
        color: #555;
        font-size: 14px;
        outline: 0;
        width:100%;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .select2-selection {
        -webkit-border-radius: 0!important;
        -moz-border-radius:  0!important;
        border-radius: 0!important;
        border: none!important;
        border-left:1px solid #ccc!important;
        line-height: 27px!important;
        padding: 6px 24px 6px 20px!important;
        text-align:left;
    }
}

.home #jobs-list-filter-wrapper {
    .search-form-container {
        margin: 0 auto;
        width: 75%;
        background-color: rgba(0, 0, 0, 0.7);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
         border-radius: 3px;
        border: none;
        padding: 20px;
        .btn-primary {
            background-color: @btn-primary-bg;
            border-color: #175d91;
            color: @btn-primary-color;
        }
        .btn-primary:hover {
            background-color: darken(@btn-primary-bg,10%);
        }
    }
}






.navbar-brand {
    display: block;
    margin-top: 33px;
    padding: 0;
    height: auto;
}

.navbar-brand>img {
    margin-left:5px;
}


.favorite-icon {
        margin-right: -15px;
    }

    .favorite-icon .link__saved-jobs {
        color: #A5B0BB;
        font-size: 16px;
        display: block;
        height: 52px;
        line-height: 52px;
        width: 50px;
        text-align: center;
    }

.hide {
    display:none!important;
}



    /*Content Animation*/
    @keyframes fadeInScale {
        0% {
            transform: scale(0.9);
            opacity: 0;
        }

        100% {
            transform: scale(1);
            opacity: 1;
        }
    }



/* SLICK CSS */

.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}