@import "../../../modules/Core/less/yawik.less";
@import "_forms.less";
@import "_header.less";
@import "_footer.less";
@import "_jobs.less";
@import "_socials.less";
@import "_search-form-container.less";
@import "_saved-jobs.less";

@g24-blue: #243b84;
@g24-light-blue: #5bc0de;
@g24-grey:  #242424;
@g24-grey-blue:  #A5B0BB;
@g24-white: #ffffff;
@g24-dark-blue: #22436c;
@g24-light-grey: #f6f6f6;
@g24-red: #d10a10;
@g24-yellow: #c4c407;

@fa-font-path: '/dist/fonts';

@font-size-base: 14px;
@font-family-sans-serif: sans-serif;
@border-radius-base: 0px;
@headings-font-weight: 600;
@brand-primary: @g24-blue;
@footer-height: 49px;
@navbar-height: 50px;
@navbar-default-link-color: green;
@navbar-default-link-hover-color: @g24-white;
@navbar-default-bg: transparent;
@nav-link-hover-bg: transparent;
@navbar-inverse-toggle-hover-bg: @gray-lighter;
@dropdown-link-active-bg: @gray-lighter;
@dropdown-link-active-color: @g24-blue;
@dropdown-link-hover-color: @g24-blue;

@panel-border-radius: 0px;
@panel-primary-heading-bg: #fff;

@btn-border-radius-base: 0px;

@padding-small-vertical: 5px;
@border-radius-base: 4px;

@link-color: @g24-grey;
@link-hover-color: @g24-grey;
@nav-pills-active-link-hover-color: green;

@btn-primary-bg: @g24-blue;


@font-size-h2: 18px;
@font-size-h3: 14px;
@font-size-h4: 16px;
@font-size-h5: 14px;

@yk-tab-bg: lightgray;
@yk-tab-color: @g24-blue;
@yk-tab-active-bg: @g24-blue;
@yk-tab-active-color: lightgray;


body {
  margin-top: 0;
  overflow-x: hidden;
}

.navbar-header {
    .menu-logo {
        width: 200px;
    }
}

h1 {
    font-weight:300;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
-webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
input[type="file"] {
    display: block;
    height: auto;
}

/* Wordpress Styles */
.wp-block-column {
    li {
        list-style-type: none
    }

    a {
        text-decoration: underline;
        color: #22436c
    }
}

/* End Wordpress Styles */

.dropdown-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.badge {
    &.badge {
        &-expired {
            background-color: @g24-grey-blue;
            border-radius: 3px;
            padding: 5px 9px;
        }
    }
}

.featured-image-box {
    -webkit-box-shadow: 0 0 5px 0 #ccc;
    -moz-box-shadow: 0 0 5px 0 #ccc;
    box-shadow: 0 0 5px 0 #ccc;
    border-radius: 4px;
    padding: 12px 12px 12px 12px;
    background-color:#fff;
    margin-bottom: 12px;
    position: relative;

    .img-box {
         min-height: 1px;
         position: relative;
        padding-bottom: 30%;
        vertical-align: top;
    }

    .content-area {
        background-color: @g24-white;

        .preview-text {
            margin: 15px 0;
        }
    }
}
.img-box {
    background-color: #fff;
    display: block;
    margin: 10px auto;
    position: relative;
}
.center-block {
      max-width: 100%;
    position: absolute;
    max-height: 100%;
    margin: auto;
    bottom: 0;
    right: 0;
    top: 0;
    padding: 0 10px;
    left: 0;
}

.page-title {
    margin-top: 13px;
    margin-bottom: 10px;

    h1,
    span {
        display: inline;
        font-size: 30px;
        font-weight:300
    }
}

.input-group .form-control  {
        -webkit-border-radius: 3px!important;
        -moz-border-radius: 3px!important;
         border-radius: 3px!important; 
         height: 38px!important;
         font-size: 14px!important;
}

.home #jobs-list-filter-wrapper {
    .search-form-container {
        
        margin: 0 auto;
        width: 75%;
        background-color: rgba(0, 0, 0, 0.7);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
         border-radius: 3px;
        border: none;
        padding: 20px;
        .btn-primary {
            background-color: @btn-primary-bg;
            border-color: @btn-primary-border;
            color: @btn-primary-color;
        }
        .btn-primary:hover {
            background-color: darken(@btn-primary-bg,10%);
        }
    }
}

.apply {
    bottom: 0;
    text-align: center;
    background: #ddd;
    line-height: 2em;
    position: absolute;
    width: 100%;
}


.yk-notifications {
  margin-top:0px;
}


#form-orders-settings {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);

    .form-content {
        padding: 15px;
    }
    .yk-label {
        text-align: left;
    }
}

#orders-list {
    .jobactivation-icon {
        background-color: #e6e6e6;
        cursor: initial;

        &:hover {
            border-color: #ccc;
        }
    }
}



.breadcrumb {
    background-color: #ececec;
    margin-bottom: 0;
    padding: 10px 10px 10px 15px;

   li {
       
       a {
        color:#243b84;
       }
       
   }
}


.job-results-container {
    background-color: #f2f2f2;
    margin-bottom: -50px;

    .container__date-filter {
        background-color: #e8e8e8;
        margin-bottom: 10px;

        .container__filter {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: baseline;
            padding: 10px 0;
        }
    }
}

 /* General Styles */

.grey-description-container {
    margin-bottom: 20px;

    .headline {
        margin-bottom: 5px;
    }

    .content {
        background-color: #ebebeb;
        padding: 15px;

        &__inner {
            background-color:#fff;
            padding: 20px;
        }
    }
}



@media(max-width: @screen-sm) {
   
   
   
   
   
   
}


@media(min-width: @screen-sm) {

   
    .job-results-container {

    &.row {
        margin-left: 0;
        margin-right: 0;
    }
    
    }





}

.job-overview-results {
    .yk-pagination {
        background-color: #e0e0e0;
        float: left;
        text-align:center;
        margin: 10px 0 10px 0;
        width: 100%;

        .pagination {
            margin: 20px 0;
        }
    }
}





    h2 {
        color: @g24-dark-blue;
        margin-bottom: 30px;
        font-weight: 300;
    }

    .text-center {
        text-align: center;
    }

    h3 {
        color: @g24-dark-blue;
        font-weight: bold;
        margin-top: 24px;
        margin-bottom: 12px;

    }

    .h6 {
        color: @g24-dark-blue;
        font-weight: bold;
        margin-top: 24px;
        margin-bottom: 12px;
        font-size: 14px;
    }


    main {
        /** different layouts for views **/
        &#content {
            &.jobs-jobboard-index {
                background-color: #fff;
                margin-bottom: 0;
                padding-top: 10px;
                position: relative;
            }
            &.gastro24-controller-jobcontroller-savedjobs {
                background-color: #fff;
            }
        }

        ul {
            padding-left: 15px;

            li {
                display: list-item;
                list-style-position: outside;

                a {

                }
            }
        }

      
    }

    .search-form-container {
        .btn-default {
            position: absolute;
            right: 100px;
            top: 10px;
        }
        .btn-primary {
            padding: 0 20px;
        }
        input {
            height: 55px;
            font-size: 16px;
            padding: 0 20px;
        }
    }

   

    .home .navbar-brand {
        color: @g24-white;
    }
    .home .navbar-brand {
        color: @g24-blue;
    }
    .navbar-brand {
       display: block;
        margin-top: 33px;
        padding: 0;
         height: auto;
    }
    .navbar-brand>img {
        margin-left:5px;
    }


  



 /* Overwrite jquery ui autocomplete style */
.ui-menu .ui-menu-item {
    margin: 0;
    padding: 1rem 0.5rem;
}

.ui-menu .ui-menu-item a{
    text-decoration: none;
    margin: 0;
}
.ui-menu .ui-menu-item-wrapper {
    padding: 1rem 0.5rem;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    background: white;
    border: none;
    color: black;
    margin: 0;
    padding: 1rem 0.5rem;
}
.ui-menu .ui-menu-item a:hover{
    background: white;
    border: none;
    color: black;
}
